* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
}
body {

    height: 100vh;
}
header, footer {
   background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
   opacity: 1;
   /****************************** HEADER MOBIL ***************************************/
}
header {
    display: flex;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
}
.minilogo {
    align-self: center;
    margin-right: 35%;

}
.trait {
    width: 30px;
    height: 30px;
}
button {
    
    border-radius: 50%;
    width: 54px;
    height: 54px;
    margin-left: 23px;
    border: solid white;

}
/*********************FIN HEADER MOBIL**************************/
.grandlogo {

    width: 100%;
    height: auto;
}
.main {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
div {
    height: 10vh;
    
}
div h2 {
    background-color:#4E0101 ;
    text-align: center;
    color: white;
}
div ul {
    display: flex;
    justify-content: space-around;
    height: 7vh;
}
div ul li {
display: flex;
align-items: center ;
   

}
div img {
    width: 40px;
    height: 40px;
    border:#0993CD solid 1px;
    border-radius: 50%;
}

/********************FOOTER MOBIL*******************************/
footer {
    display: flex;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: space-between;
}
footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 8.5vh;
    width: 45%;
}
footer ul li{
padding:0.4vh 1vh 0vh 1vh;
color:#0993CD;
font-size: 16px;
font-weight: bold;
}

footer .reseaux {
    width: 80px;
    display: flex;
    justify-content: flex-end;
    height: 3vh;
    margin-right: 5px;
}
iconify-icon {
    margin-right: 10px;

}
/************************FIN FOOTER MOBIL*******************/

