* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
}
body {

    height: 100vh;
    display: flex;
    flex-direction: column;
justify-content: space-between;}
header, footer {
   background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
   opacity: 1;
   /****************************** HEADER MOBIL ***************************************/
}
header {
    display: flex;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
}
.minilogo {
    
    margin-right: 35%;

}
 button {
    
    border-radius: 50%;
    width: 54px;
    height: 54px;
    margin-left: 7%;
    border: solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*********************FIN HEADER MOBIL**************************/
/*********************STADE MOBIL*******************************/
.titre {
    background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 8% 0%  8%;
    height: 5%;
    padding:1% 1% 1% 1%;
}
.titre-page {
    background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
    opacity: 1;
    color: #0993CD;
    padding: 0% 0% 0% 0%;
    text-align: center;
}
.container {
    margin-bottom: 4%;
}
.container-stade ul {
    background-color: #4E0101;
    margin: 5% 5% 7% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container-stade ul li {
    background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
    opacity: 1;
    width: 70%;
    margin: 3% 3% 3% 3%;
    font-size: 20px;
    font-weight: bold;
    padding: 3% 5% 4% 5%;

}
.container-stade ul li a {
    color: black;
}
/***************************STADEM******************************/
 
.image-stade {
    display: flex;
    justify-content: center;
    margin: 2% 0% 1% 0%;
 }
 article {
    background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
    opacity: 1;
    text-align: center;
    margin: 2% 8% 2% 8%;
    padding: 2% 2% 2% 2%;
    height: auto;
 }
 .iframes {
    height: 10%;
    margin-bottom: 1%;

 }

    
 
 
/****************************ACCUEIL MOBIL**********************/

.grandlogo {

    width: 100%;
    height: auto;
}
/***************************GROUPE MOBIL************************/
.main {
    display: flex ;
    flex-direction: column;
    justify-content: center;
}
.container-groupe {
    height: 10vh;
    
}
.container-groupe h2 {
    background-color:#4E0101 ;
    text-align: center;
    color: white;
}
.container-groupe ul {
    display: flex;
    justify-content: space-around;
    height: 7vh;
}
.container-groupe ul li {
display: flex;
align-items: center ;
   

}
.container-groupe img {
    width: 40px;
    height: 40px;
    border:#0993CD solid 1px;
    border-radius: 50%;
}
/**********************PALMARES MOBIL****************************/

.container-palmares ul {
    background-color: #4E0101;
    margin: 5% 3% 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container-palmares ul li {
    background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
    opacity: 1;
    width: 70%;
    margin: 3% 2% 3% 2%;
    font-size: 20px;
    font-weight: bold;
    padding: 3% 5% 4% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container-palmares ul li img {

    width: 30px;
    height: 30px;
    margin-right: 15%;
}
.container-palmares ul li span {
    margin-left: 8%;

}
/*********************CALENDRIER MOBIL**************************/
.container-calendrier{
    height: 75%;
    margin-bottom: 3%;
    
}
.container-calendrier ul {
    background-color: #4E0101;
    display: flex;
    flex-direction: column;
    margin: 3% 5% 3% 5%;
}

.container-calendrier ul li {
    background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
    opacity: 1;
    padding: 2% 3% 2% 3%;
    margin: 3% 5% 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}
/*********************CALENDRIER GROUPE***********************/

.calendrier-groupe ul {
    background-color: #4E0101;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    height: 70vh;
    margin: 2% 5% 2% 5%;
}
.calendrier-groupe ul li{
    background-image:linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)), url(/assets/bgGrisMetal.jpg);
    opacity: 1;
    border:silver solid 2px;
    font-weight: bolder;
    padding: 2% 2% 2% 2%;
    text-align: center;
    width: 80%;
    


 
}
/********************FOOTER MOBIL*******************************/
footer {
    display: flex;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 8.5vh;
    width: 45%;
}
footer ul li{
padding:0.4vh 1vh 0vh 1vh;
color:#0993CD;
font-size: 16px;
font-weight: bold;
}
footer ul li a {
    color:#0993CD;
}

footer .reseaux {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    height: 3vh;
}
iconify-icon {
    margin-right: 10%;

}
/************************FIN FOOTER MOBIL*******************/

